.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after,
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before {
  background-color: #e0302e;
}
.flipdown.flipdown__theme-dark .rotor::after {
  border-color: white;
}
.flipdown.flipdown__theme-dark .rotor-bottom, .flipdown.flipdown__theme-dark .rotor-top, .flipdown.flipdown__theme-dark .rotor,
.flipdown.flipdown__theme-dark .rotor-leaf-rear, .flipdown.flipdown__theme-dark .rotor-leaf-front {
  background-color: #e0302e;
}