// $blue-01: #1ca4dc;
// $blue-01: #01174e;
$blue-01: #031952;
// $blue-02: #9cc5df;
$blue-02: #83c6ff;
$red-01: #e0302e;
@font-face {
  font-family: "Bebas Neue", sans-serif;
  src: url("../assets/fonts/Acclaimregular.ttf");
}

.text-sm {
  font-size: calc(max(1.2vmin, 0.8rem));
}
.text-lg {
  font-size: calc(max(1.6vmin, 1.2rem));
}

.bg-blue-01 {
  background-color: $blue-01 !important;
}
.text-red {
  color: $red-01 !important;
}
.text-theme-blue {
  color: $blue-02 !important;
}
.br-0 {
  border-radius: 0;
}
.btn {
  padding: 0.7rem 2rem;
}
@media screen and (min-width: 768px) {
  .btn {
    padding: 0.5rem 1rem;
  }
}

.btn-youtube {
  background-color: red;
  color: #efefef;
  &:hover {
    background-color: red;
    color: #efefef;
  }
}
.btn-theme-red {
  background-color: $red-01;
  color: #efefef;
  &:hover {
    background-color: $red-01;
    color: #efefef;
  }
}
.btn-theme-blue {
  background-color: $blue-01;
  color: #efefef;
  &:hover {
    background-color: $blue-01;
    color: #efefef;
  }
}
.btn-white {
  background-color: #efefef;
  color: #1e1e1e;
  &:hover {
    background-color: $blue-02;
    color: #efefef;
  }
}
.btn-big{
  // border-radius: 0.3rem;
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  span{
    animation: blink 1s linear infinite;
  }
}

.modal {
  h3 {
    font-size: calc(max(2vmax, 2.5rem));
    color: $blue-01;
  }
  .modal-content {
    border: 4px solid $blue-01;
    .modal-body {
      padding: 1rem;
      color: #1e1e1e;
    }
  }
}

section {
  &:not(.banner),
  &:not(.fullscreen) {
    padding: calc(max(5vmax, 2rem)) 0;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  
}

@keyframes sf-fly-by-1 {
  from {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(0);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-2 {
  from {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-3 {
  from {
    transform: translateZ(-1800px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
}

body {
  background-color: $blue-01;
  font-size: calc(max(1.5vmin, 1.2rem));
  color: #efefef;
}

.star-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 600px;
  -webkit-perspective: 600px;
  z-index: -1;
}
.star-field .layer {
  box-shadow: -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0,
    -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2,
    755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6,
    554px -176px #ededed, -85px -428px #d9d9d9, 714px 55px #e8e8e8,
    359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc,
    74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf,
    -112px 287px #c9c9c9, -853px 79px #d6d6d6, 828px 475px #d6d6d6,
    -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa,
    -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke,
    -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
    624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed,
    70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke,
    -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9,
    -362px 97px #c2c2c2, 563px 47px #dedede, 313px 475px #e0e0e0,
    839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2,
    -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white,
    170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
    -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6,
    808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc,
    -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3,
    -383px 368px #f7f7f7, 419px 288px #d1d1d1, -598px -50px #c2c2c2,
    -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6,
    392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb,
    98px -412px #c4c4c4, -911px -277px #c9c9c9;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}
.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 5s linear infinite;
}
.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 5s linear infinite;
}
.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 5s linear infinite;
}

h1,
h2,
h3 {
  color: $blue-02;
  font-family: "Bebas Neue", sans-serif;
}
h1 {
  font-size: calc(max(4vmax, 4rem));
  &.title-font {
    font-size: calc(max(5vmax, 2rem));
    text-transform: uppercase;
  }
}
h2 {
  font-size: calc(max(3vmax, 3rem));
}
a {
  color: inherit;
  text-decoration: none;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
nav.navbar {
  background-color: #0f0f17;
  --bs-navbar-color: rgba(255, 255, 255, 0.822);
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
  --bs-navbar-active-color: #fff;
  --bs-navitem-border-color: rgba(255, 255, 255, 0.25);
  .navbar-nav {
    gap: 1rem;
    .nav-link {
      text-transform: uppercase;
      padding: 0.25rem 0.5rem;
      padding-left: 1rem;
      line-height: 1;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 3rem;
        height: 3rem;
        display: none;
        top: 50%;
        left: -1rem;
        transform: translateY(-50%);
        background: url("../assets/elements/spotlight-left.png") no-repeat;
        background-size: contain;
        background-position: center;
      }
      &:hover {
        &::after {
          display: block;
        }
      }
    }
    @media screen and (min-width: 768px) {
      .nav-link {
        // border: 1px solid var(--bs-navitem-border-color);
        &::after {
          top: -1rem;
          left: 0;
          width: 100%;
          height: 2rem;
          background: url("../assets/elements/spotlight-down.png") no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
    }
  }
  .navbar-toggler {
    border: none;
    &:hover,
    &:active {
      box-shadow: none;
    }
    &[aria-expanded="true"] {
      .navbar-toggler-icon {
        background-image: url("../assets/icons/x.svg");
        filter: contrast(0) brightness(10);
      }
    }
    .navbar-toggler-icon {
      filter: brightness(10);
    }
  }
}

.nav-pills {
  .nav-link {
    color: #efefef;
  }
}

.floating{
  position: fixed;
  z-index: 999;
  .btn-youtube{
    padding: 0.5rem;
    text-align: center;
    i{
      font-size: 2rem;
    }
    span{
      display: block;
    }
  }
  &.floating-center-right{
    right: 0;
    left: unset;
    top: 50%;
    bottom: unset;
    transform: translateY(-50%);
  }
  &.floating-top-right{
    right: 0;
    left: unset;
    top: 10rem;
    bottom: unset;
  }
  &.floating-bottom-right{
    right: 0;
    left: unset;
    top: unset;
    bottom: 12rem;
  }
  
}

footer {
  background-color: #000;
  backdrop-filter: blur(10px);
}

.swiper {
  &.speakersSwiper {
    --swiper-navigation-top-offset: 35%;
    --swiper-navigation-sides-offset: 0;
    padding: 0 1.82rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    &:after {
      display: none;
    }
  }
  .swiper-button-next {
    background-size: 90% auto !important;
    &.ico-blue {
      background: url("../assets/icons/next-blue.png") no-repeat;
    }
    &.ico-red {
      background: url("../assets/icons/next-red.png") no-repeat;
    }
    &.ico-white {
      background: url("../assets/icons/next-white.png") no-repeat;
    }
  }
  .swiper-button-prev {
    background-size: 90% auto !important;
    &.ico-blue {
      background: url("../assets/icons/prev-blue.png") no-repeat;
    }
    &.ico-red {
      background: url("../assets/icons/prev-red.png") no-repeat;
    }
    &.ico-white {
      background: url("../assets/icons/prev-white.png") no-repeat;
    }
  }
}

@keyframes spotlight-3-6 {
  0%,
  100% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(-65deg);
  }
}

section {
  &.fullscreen {
    background-color: $blue-01;
    width: 100%;
    padding: 0;
    height: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media screen and (min-width: 768px) {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    overflow: hidden;
  }
  &#about {
    position: relative;
    z-index: 1;
    // background-image: linear-gradient(lighten($blue-01, 4) 2px, transparent 2px),
    //   linear-gradient(to right, lighten($blue-01, 4) 2px, $blue-01 1px);
    // background-size: 20px 20px;

    background: url("../assets/elements/rays-bottom-right.png") no-repeat,
      $blue-01;
    background-size: auto 40%;
    background-position: 0% 115%;
    .video-sec {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &.banner {
    color: #efefef !important;
    background: #0f0f17 no-repeat;
    background-size: 20% auto;
    background-blend-mode: screen;
    background-position: top right;
    h1 {
      color: #efefefef !important;
    }
  }
  &#more {
    color: #efefef;
    background: url("../assets/elements/rays-top-left.png") no-repeat, $blue-01;
    background-size: auto 38%;
    background-position: top left;
    background-blend-mode: normal;
    h2 {
      color: $blue-02;
    }
  }
  &#speakers {
    background: url("../assets/elements/rays-top-right.png") no-repeat, $blue-01;
    background-size: auto 60%;
    background-position: top 120%;
    background-blend-mode: normal;
  }
}

@media screen and (min-width: 768px) {
  section {
    &.fullscreen{
      // height: calc(100vh - 100px);
      // display: flex;
      // justify-content: center;
      // img{
      //   height: 100%;
      //   width: auto;
      // }
    }
    &#about {
      background: url("../assets/elements/emblem-flipped.png") no-repeat,
        url("../assets/elements/rays.png") no-repeat, $blue-01;
      background-size: auto calc(max(35vmin, 13rem)), 50% auto;
      background-position: 1% 40%, 150% 40%;
    }
    &#speakers {
      background: url("../assets/elements/emblem-flipped.png") no-repeat,
        url("../assets/elements/rays-bottom-right.png") no-repeat, $blue-01;
      background-size: auto max(35vmin, 13rem), auto 70%;
      background-position: 1% 40%, 110% 120%;
      background-blend-mode: normal;
    }
    &#more {
      background: url("../assets/elements/emblem.png") no-repeat,
        url("../assets/elements/rays-flipped.png") no-repeat, $blue-01;
      background-size: auto max(40vmin, 13rem), 40% auto;
      background-position: 97% 40%, -30% 65%;
      background-blend-mode: normal;
    }
  }
}

.swiper-slide {
  &.active {
    img {
      filter: grayscale(0);
    }
  }
}
.speaker-card {
  background-color: transparent;
  border: none;
  .card-body {
    padding: 1rem 0;
  }
  &:hover {
    .card-image {
      img {
        filter: grayscale(0);
      }
    }
  }
  .card-image {
    margin: 0 1rem;
    border-radius: 50%;
    border: 4px solid $red-01;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(1);
    }
  }
  .card-body {
    color: #efefef;
    h5 {
      font-size: 1.3rem;
    }
    p {
      text-transform: capitalize;
      opacity: 0.5;
    }
  }
}
