@font-face {
  font-family: "Acclaim";
  src: url("../assets/fonts/Acclaimregular.ttf");
}

.text-sm {
  font-size: calc(max(1.2vmin, 0.8rem));
}
.text-lg {
  font-size: calc(max(1.6vmin, 1.2rem));
}
.br-0 {
  border-radius: 0;
}
.btn-theme-red {
  background-color: #e0302e;
  color: #efefef;
  &:hover {
    background-color: #e0302e;
    color: #efefef;
  }
}

.modal {
  h3 {
    color: #e0302e;
  }
  .modal-content {
    border: 4px solid #e0302e;
    .modal-body {
      color: #1e1e1e;
    }
  }
}

section {
  &:not(.banner) {
    padding: calc(max(5vmax, 2rem)) 0;
  }
}

body {
  font-size: calc(max(1.5vmin, 1.2rem));
  color: #efefef;
  background: url("../assets/backgrounds/intro-bg.jpg") #0b003b;
  background-size: cover;
  background-attachment: fixed;
}
h1,
h2,
h3 {
  color: #efefef;
  font-family: "Acclaim";
}
h1 {
  font-size: calc(max(4vmax, 4rem));
  &.title-font {
    font-size: calc(max(4vmax, 2rem));
    text-transform: uppercase;
  }
}
h2 {
  font-size: calc(max(3vmax, 3rem));
}
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
nav.navbar {
  background-color: rgba($color: #1e1e1e, $alpha: 0.7);
  backdrop-filter: blur(10px);
  --bs-navbar-color: rgba(255, 255, 255, 0.55);
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
  --bs-navbar-active-color: #fff;
  .navbar-nav{
    gap: 1rem;
    .nav-link{
      text-transform: uppercase;
      padding: 0.25rem 0.5rem;
      line-height: 1;
      border: 1px solid rgba($color: #efefef, $alpha: 0.2);
    }
  }
}

footer{
  background-color: rgba($color: #e0302e, $alpha: 0.1);
  backdrop-filter: blur(10px);
}

.swiper {
  --swiper-navigation-top-offset: 35%;
  --swiper-navigation-sides-offset: 0;
  // padding: 0 1.82rem;
  .swiper-button-next,
  .swiper-button-prev {
    &:after {
      display: none;
    }
  }
  .swiper-button-next {
    background-size: 90% auto !important;
    &.ico-blue {
      background: url("../assets/icons/next-blue.png") no-repeat;
    }
    &.ico-red {
      background: url("../assets/icons/next-red.png") no-repeat;
    }
    &.ico-white {
      background: url("../assets/icons/next-white.png") no-repeat;
    }
  }
  .swiper-button-prev {
    background-size: 90% auto !important;
    &.ico-blue {
      background: url("../assets/icons/prev-blue.png") no-repeat;
    }
    &.ico-red {
      background: url("../assets/icons/prev-red.png") no-repeat;
    }
    &.ico-white {
      background: url("../assets/icons/prev-white.png") no-repeat;
    }
  }
}

section {
  &.banner {
    color: #efefef !important;
    h1 {
      color: #efefef !important;
    }
  }
}

.speaker-card {
  background-color: transparent;
  .card-image {
    margin: 0 2rem;
    border-radius: 50%;
    border: 4px solid #e0302e;
  }
  .card-body {
    color: #efefef;
  }
}
